!!! 5
html
	head
		title Balancier

		style.
			body {
				color: #666;
				padding: 50px;
				font-family: sans-serif;
			}
	
	body

		h3 Backend Servers
			
		table
			each server in servers
				tr
					td #{server.host}
					td #{server.port}
					td
						a(href="/remove?host=#{server.host}&port=#{server.port}")
							Remove

		h3 Add Server

		form(method="GET", action="/add")
			input(type="text", name="host", placeholder="host")
			input(type="text", name="port", placeholder="port")
